@import '../vendor/huoncs/fb/s/form-builder';

body
{
    font-family: Calibri, Verdana, Helvetica, sans-serif;
	margin: 10px;
}

@media (min-width: 576px) 
{
	body
	{
		max-width: 800px;
		margin: 10px auto;
	}
}


.txt_source
{
	white-space: pre;
}

iframe#viewer
{
	display: none;
	background: white;
	width: 90%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 5%;
}

body.demo table.result
{
	width: 100%;
	border: solid 1px black;
	margin: 10px 0;
	border-collapse: collapse;
}

body.demo table.result th
{
	background: lightyellow;
}

body.demo table.result thead th:first-child
{
	width: 200px;
}

body.demo table.result th
{
	text-align: left;
	vertical-align: top;
}

body.demo table.result tr *
{
	padding: 2px 5px;
}

body.demo table.result tbody tr *
{
	border-top: solid 1px silver;
}

body.demo table.result td
{
	white-space: pre;
}

body.demo #close
{
	position: absolute;
	right: 10px;
	top: 10px;
}
